*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }



header { 
    background-color:#034081;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: auto;
    align-items: center;
    margin: auto;
    
}


.nav{
height: auto;
text-align: center;
justify-content: center;

}

nav ul li {
   
    display: flex;
    text-decoration: none;
    display: inline;
    padding: 20px;
    list-style: none; 
    align-items: center;  
}

nav ul li a {
    color:white;
    text-decoration: none;
    align-items: center;
  

}

section{
    background-color: #f1f1f1;
    
}
.titulo_principal {
    color: #0b2739;
    justify-items: center;
    padding: 20px;
    align-items: center;
    height: auto;
    width: auto;
    text-align: center;
   
    
}
.contenido_central {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 500px;
    
}

.row.g-3{
    margin: auto;
}
 form {
    
    margin: auto;
    text-align: center;
    width: auto;
    justify-content: center;
    height: 100%;
 }
div.cotizador {
    background-color:#0b2739;
    display: flex;
    height: 424px;
    align-items: center;
    color: #019df4;
    justify-content: center;
    width: 100%;
}
.pie_pagina{
    justify-content: center;
    background-color:white;
    align-items: center;
    height: 100px;
    width: auto;
    text-align: center;
    padding: 20px;
 }
 .sssalud {
    text-align: center;
    padding: 10px;
    margin: 20px;
    color: #019df4;
 }

 div.principal{
    padding: 20px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    
 }
div.datos {
    justify-content: center;
    text-align: justify;
    text-align: center;
    height: 100%;
    width: auto;
    margin: 50px;
}
div.google{
    height: 343px;
    width: 200px;
}
iframe.mapa{
    height: 343px;
    width: 340px;
}
div.foto-contacto{
    margin: 35px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 30px;
}
section.planes_omint{
    background-color: #0b2739;
}
.contenedor_prestadores {
    display: flex;
    background-color: #0b2739;
    gap: 10px;
    padding: 30px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    justify-content: space-between;
}

.clinicas img {
    width: 100%;
    height: auto;
    border: #019df4;
    border: solid 1px;
}
.contenedor_ventas{
    display: flex;
    background-color: #f1f1f1;
    margin: 30px;
    justify-content: space-between;
}

.ventas{
    justify-content: center;
   
}
form.form_padre{
    height: 100px;
    justify-content: center;
    align-items: center; 
}
div.ventas{
    color: #0b2739;
}
section.contacto{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    width: 100%;
    gap: 10px;

}

div.contenedor-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:#f1f1f1;
    color: white;
    text-align: center;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;  
}
    
.hijo-grid{
    background-color: #0b2739;
  
 
}    


